<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Log Search Server</title>
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css" media="screen"> 
    <style>
    body { font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif; background:#111 none repeat scroll 0 0; color:#fff; font-size:12px; margin: 10px;}
    h1,h2,h3,h4,h5,h6 { color: #fff;}
    a { color: #0f0; }
    a:hover { background-color: #03c; color: white; text-decoration: none; }
    </style>
  </head>

  <body>

    <h1>Error</h1>
    
    <p><%= @error %></p>
    
  </body>
</html>