<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Log Search Server</title>
    <style>
    body { font-family: 'Monaco', 'Deja Vu Sans Mono', 'Inconsolata' ,'Consolas',monospace; background:#111 none repeat scroll 0 0; color:#fff; font-size:10px; margin: 10px;}
    a { color: #0f0; }
    a:hover { background-color: #03c; color: white; text-decoration: none; }
    </style>
  </head>
  <body>

<!-- purposely leave out closing </div>, </body>, </html> -->