/* ----------------------------------------------------------------------------
 * Log Search Server CSS
 * by John Tajima
 * ----------------------------------------------------------------------------
 */


body { margin: 5px 10px 25px; padding: 0; line-height: 1.5em; color: #333; background-color: #fff; 
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana"; font-size: 12px; }

body {
  font-family: 'Monaco', 'Deja Vu Sans Mono', 'Inconsolata' ,'Consolas',monospace;
  background:#111111 none repeat scroll 0 0;
  color:#FFFFFF;
  font-size:10px;
  max-height:50em;
  overflow:auto;
}

h1 { font-size: 28px; color: #000; }
h1, h2, h3, h4 , h5 { margin: 0 0 0.5em; line-height: 1.5em;}
a { color: #03c }
a:hover { background-color: #03c; color: white; text-decoration: none; }

#header { width:auto; height: 50px; padding: 10px; border-bottom: 1px solid #ddd; margin: -5px -10px 10px; background: #f0f0f0;
          font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana"; color:black;}

span.label { float: right; font-size: 11px; margin: 0 2px; padding: 2px 4px; color:#ddd;}
span.label a { font-family: "Helvetica", Arial, sans-serif; color:#666;}

p { padding: 2px 0; margin:0; }
p:hover { background: #f0f0f0; color: black;}


p.time { font-size: 11px; margin: 0 2px; margin-top: 10px; font-weight:bold; border:none; color: green;}


* html { font-family: ; }
div#header {
  width: auto; 
}